<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>商品id</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>储存仓库</td>
        </tr>
        <tr th:each="gds : ${gdsl}">
            <td th:text="${gds.id}"></td>
            <td th:text="${gds.gname}"></td>
            <td th:text="${gds.price}"></td>
            <td th:text="${gds.did}"></td>
        </tr>
    </table>
</body>
</html>